@page "/my-account/profile"
@using BlazorStore.Model.Services.Users
@inject IUserServices UserServices

<h3 class="featured-title">My profile</h3>

@if (user != null)
{
    <div class="col-12 px-5 col-lg-8 offset-lg-2 profile-wrap">
        <h4>Identification</h4>
        <div class="form-group">
            <label>Name:</label>
            <input class="form-control disabled" disabled value="@user.Name" />
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input class="form-control disabled" disabled value="@user.Email" />
        </div>
        <h4>Default shipping address</h4>
        <div class="form-group">
            <label>Address:</label>
            <input class="form-control disabled" disabled value="@user.Address" />
        </div>
        <div class="form-group">
            <label>City:</label>
            <input class="form-control disabled" disabled value="@user.City" />
        </div>
        <div class="form-group">
            <label>Zip code:</label>
            <input class="form-control disabled" disabled value="@user.ZipCode" />
        </div>
        <div class="form-group">
            <label>State/Province:</label>
            <input class="form-control disabled" disabled value="@user.State" />
        </div>
        <div class="form-group">
            <label>Country:</label>
            <input class="form-control disabled" disabled value="@user.Country" />
        </div>
    </div>
}
else
{
    <div class="text-center"><span class="spinner-border"></span> Loading...</div>
}

@code {
    UserDto user;
    [CascadingParameter] Task<AuthenticationState> GetAuthStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await GetAuthStateTask;
        user = await UserServices.GetUserByIdAsync(authState.User.GetId());
    }

}
