@if (Order != null)
{
    <h4>Delivery info</h4>
    <div>@Order.Name (<a href="mailto:@Order.Email">@Order.Email</a>)</div>
    <div>@Order.Address</div>
    <div>@Order.City</div>
    <div>@Order.State @Order.ZipCode</div>
    <div>@Order.Country</div>
    <h4 class="mt-3">Products</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product name</th>
                <th class="text-center">Cantidad</th>
                <th class="text-right">Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in @Order.Lines)
            {
                <tr>
                    <td>@line.ProductName</td>
                    <td class="text-center">@line.Quantity</td>
                    <td class="text-right">@line.UnitPrice.ToString("#,##0.#0")</td>
                </tr>
            }
        </tbody>
    </table>


}
@code {
    [Parameter] public ExistingOrderDto Order { get; set; }
}
